<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {{ block "favicon" . }}
    {{ partial "site-favicon.html" . }}
    {{ end }}

    <meta name="description"
          content="{{ T "home_description" }}"/>

    <meta property="og:title" content="{{ T "home_title" }}"/>
    <meta property="og:description"
          content="{{ T "home_description" }}"/>
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/stegos-logo.png" />

    <title>{{ T "home_title" }}</title>

    {{ partialCached "site-styles.html" . }}

</head>
<body class="style_scroll_bar">

<main>

    <div class="main_menu">

        {{ partial "mobile-menu.html" . }}

    </div>

    <div class="main_pages_indicator desktop_display">

        <a href="#" class="indicator_arrow_up">
            <i class="fas fa-chevron-up"></i>
        </a>

        <div class="indicator_btn active">
            <span class="main_header" style="display: none;"></span>
        </div>
        <div class="indicator_btn">
            <span class="sector_why" style="display: none;"></span>
        </div>
        <div class="indicator_btn">
            <span class="sector_st_mob" style="display: none;"></span>
        </div>
        <div class="indicator_btn">
            <span class="sector_news" style="display: none;"></span>
        </div>
        <div class="indicator_btn">
            <span class="sector_pro" style="display: none;"></span>
        </div>
        <div class="indicator_btn">
            <span class="sector_team" style="display: none;"></span>
        </div>

        <div class="indicator_btn">
            <span class="sector_road" style="display: none;"></span>
        </div>

        <div class="indicator_btn">
            <span class="sector_part" style="display: none;"></span>
        </div>

        <div class="indicator_btn">
            <span class="sub_news" style="display: none;"></span>
        </div>

        <a href="#" class="indicator_arrow_down">
            <i class="fas fa-chevron-down"></i>
        </a>

    </div>

    <div id="main_header" class="main_header">

        {{ partial "nav-block.html" . }}

        <div class="m_h_content_block">
            <div class="m_h_content">

                <h1 class="m_h_content_text">
                    {{ T "main_header_title" | safeHTML }}
                </h1>

                <div class="m_h_content_info">
                    {{ T "main_header_info" | safeHTML }}
                </div>
                <div class="form_title">{{ T "main_header_form_title" | safeHTML }}</div>
                <div class="form_block">

                    <form method="POST" action="https://stegos.activehosted.com/proc.php" id="_form_16_"
                          class="c__item_cont _form _form_16 _inline-form _inline-style _dark" novalidate>
                        <input type="hidden" name="u" value="16"/>
                        <input type="hidden" name="f" value="16"/>
                        <input type="hidden" name="s"/>
                        <input type="hidden" name="c" value="0"/>
                        <input type="hidden" name="m" value="0"/>
                        <input type="hidden" name="act" value="sub"/>
                        <input type="hidden" name="v" value="2"/>

                        <div class="_form-content">
                            <input type="text" name="email" class="input-field" placeholder="{{ T "your_email_address" }}"
                                   required/>

                            <button id="_form_16_submit" class="_submit base_button header_btn" type="submit">
                                <span class="b_b_text">{{ T "learn_more" }}</span>
                            </button>
                        </div>
                        <div class="_form-thank-you" style="display:none;">
                        </div>
                    </form>

                </div>


            </div>

            <div class="m_links_icons_block desktop_display">
                <a href="https://t.me/stegos4privacy" class="icon_link">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="https://twitter.com/stegos4privacy" class="icon_link">
                    <i class="fab fa-twitter"></i>
                </a>

                <a href="https://www.youtube.com/channel/UCeYp3J_rqsTvfliowTHvfDQ?view_as=subscriber" class="icon_link">
                    <i class="fab fa-youtube"></i>
                </a>

                <a href="https://www.reddit.com/r/stegos4privacy/" class="icon_link">
                    <i class="fab fa-reddit-alien"></i>
                </a>
                <a href="https://medium.com/stegos4privacy" class="icon_link">
                    <i class="fab fa-medium"></i>
                </a>
                <a href="https://www.facebook.com/stegos4privacy" class="icon_link">
                    <i class="fab fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/stegos/stegos" class="icon_link">
                    <i class="fab fa-github"></i>
                </a>

                <a href="https://bitcointalk.org/index.php?topic=5132686.new#new" class="icon_link">
                    <i class="fab fa-bitcoin"></i>
                </a>

                <a class="icon_link code_link">
                    <i class="fab fa-weixin"></i>
                    <div class="code_link_box">
                        <div class="code_link_qq"></div>
                    </div>
                </a>

                <a class="icon_link code_link">
                    <i class="qq_icon"></i>
                    <div class="code_link_box">
                        <div class="code_link_wechat"></div>
                    </div>
                </a>

                <a href="mailto:team@stegos.com" class="icon_link">
                    <i class="far fa-envelope"></i>
                </a>
            </div>
        </div>

        <div class="bg">
            <span class="bg_img"></span>
        </div>
        <div class="bg_gr"></div>
    </div>

    <div id="sector_why" class="main_sector why_block">
        <div class="m_s_title">{{ T "why_stegos" }}</div>
        <div class="m_s_line_decor">
            <span class="m_s_ld"></span>
            <span class="m_s_ldm"></span>
            <span class="m_s_ld"></span>
        </div>

        <div class="m_s_content_block">

            <div class="content__item">
                <div class="item_icon icon_conf"></div>
                <div class="item_name">{{ T "absolutely_private" | safeHTML }}</div>
                <div class="item_cont_text">
                    {{ T "confidential_transactions" | safeHTML }}<br><br>
                    {{ T "stealth_addresses" | safeHTML }}<br><br>
                    {{ T "zero_knowledge_proofs" | safeHTML }}<br><br>
                    {{ T "snowball_our_own" | safeHTML }}<br><br>
                    {{ T "unlinkable_and_untraceable" | safeHTML }}
                </div>
            </div>
            <div class="content__item">
                <div class="item_icon icon_scal"></div>
                <div class="item_name">{{ T "scalable_and_powerful" | safeHTML }}</div>
                <div class="item_cont_text">
                    {{ T "horizontal_scalability" | safeHTML }}<br><br>
                    {{ T "state_and_transactional" | safeHTML }}<br><br>
                    {{ T "thousands_of_transactions" | safeHTML }}<br><br>
                    {{ T "original_r_and_d" | safeHTML }}
                </div>
            </div>
            <div class="content__item">
                <div class="item_icon icon_small"></div>
                <div class="item_name">{{ T "fast_and_compact" | safeHTML }}</div>
                <div class="item_cont_text">
                    {{ T "transaction_confirmation" | safeHTML }}<br><br>
                    {{ T "old_data_and_transactions" | safeHTML }}<br><br>
                    {{ T "small_enough_to_fit" | safeHTML }}
                </div>
            </div>
            <div class="content__item">
                <div class="item_icon icon_leave"></div>
                <div class="item_name">{{ T "mobile_all_the_way" | safeHTML }}</div>
                <div class="item_cont_text">
                    {{ T "run_a_full_blockchain" | safeHTML }}<br><br>
                    {{ T "fair_gamified" | safeHTML }}<br><br>
                    {{ T "no_messing_around" | safeHTML }}
                </div>
            </div>
        </div>

        <a href='{{ .Site.BaseURL }}docs/{{ T "whitepaper_pdf" | safeHTML }}' target="_blank" class="base_button">
            <div class="b_b_text">{{ T "whitepaper" | safeHTML }}</div>
        </a>
    </div>

    <div id="video_sector" class="video_sector">

        <div class="video_cont">
            <a class="video_cont_close_btn">
                <span class="btn_close"></span>
            </a>

            <!--<iframe width="inherit" height="inherit"></iframe>-->
            <iframe style="width:inherit;height:inherit;" src="https://www.youtube.com/embed/mKPzMSFWVR0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>


        <div class="bg"></div>

    </div>

    <div id="sector_st_mob" class="main_sector stegos_mobile_block">
        <div class="m_s_title">
            {{ T "an_incredibly_easy" | safeHTML }}
        </div>
        <div class="m_s_line_decor">
            <span class="m_s_ld"></span>
            <span class="m_s_ldm"></span>
            <span class="m_s_ld"></span>
        </div>

        <div class="m_s_bg_eye_box">
            <div class="m_s_bg_icon_eye"></div>
        </div>

        <div class="m_s_content_block">

            <div class="c__item_cont">
                <div class="c__item c__item_m">
                    <div class="c__item_text">
                        {{ T "the_stegos_app_integrates" | safeHTML }}
                    </div>
                </div>
                <div class="c__item">
                    <div class="c__item_text">
                        {{ T "create_custom_airdrops" | safeHTML }}
                    </div>
                </div>
            </div>

            <div class="c__item_cont">
                <div class="c__item">
                    <div class="c__item_text">
                        {{ T "a_secure_mobile_vm" | safeHTML }}
                    </div>
                </div>
                <div class="c__item  c__item_m">
                    <div class="c__item_text">
                        {{ T "run_a_node_on_the_smartphone" | safeHTML }}
                    </div>
                </div>
            </div>


        </div>

        <div class="m_s_bg_phone_box">
            <div class="m_s_bg_icon_phone"></div>
        </div>


        <a class="base_button video_cont_open_btn">
            <div class="b_b_text">{{ T "watch_video" | safeHTML }}</div>
        </a>

        <div class="bg">
            <span class="bg_img"></span>
        </div>
        <div class="bg_gr_to_bot"></div>
        <div class="bg_gr_to_top"></div>
    </div>

    <div id="sector_news" class="main_sector news_block">
        <div class="m_s_title">{{ T "news" | safeHTML }}</div>
        <div class="m_s_line_decor">
            <span class="m_s_ld"></span>
            <span class="m_s_ldm"></span>
            <span class="m_s_ld"></span>
        </div>

        <div id="news_block" class="m_s_content_block">

            {{ range .Pages.GroupBy "Section" }}
            {{ if eq .Key "news" }}
            {{ $pages := .Pages.ByDate.Reverse | first 5 }}
            {{ range $index, $element := $pages }}
            {{ if eq (mod $index 2) 0 }}
            <div class="content__item_col">
            {{ end }}

                {{ if eq $index 4 }}
                <a href="{{ .Permalink }}" class="content__item big">
                {{ else }}
                <a href="{{ .Permalink }}" class="content__item">
                {{ end }}
                    <div class="c__item_title">{{ .Title }}</div>
                    <div class="c__item_info">{{ .Description}}</div>
                    <div class="c__item_data">{{ .Date.Format "Jan 2, 2006" }}</div>
                    <div class="c__item_btn"><span class="c__item_arrow_more">→</span></div>

                </a>
            {{ if or (not (eq (mod $index 2) 0)) (eq $index 4) }}
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}

        </div>

        <a href="{{ "news/" | absLangURL }}" class="base_button">
            <div class="b_b_text">{{ T "more_news" | safeHTML }}</div>
        </a>
    </div>

    <div id="sector_pro" class="main_sector project_block">
        <div class="m_s_title">{{ T "the_project" | safeHTML }}</div>
        <div class="m_s_line_decor">
            <span class="m_s_ld"></span>
            <span class="m_s_ldm"></span>
            <span class="m_s_ld"></span>
        </div>

        <div class="m_s_cont_title">{{ T "whitepaper" | safeHTML }}</div>

        <div class="m_s_content_block">

            <div class="c__item">
                <a href='{{ .Site.BaseURL }}docs/{{ T "whitepaper_pdf" | safeHTML }}' target="_blank" class="icon_whitepaper"></a>
            </div>

            <div class="c__item_l">
                <a href="https://github.com/stegos/stegos" class="icon_link">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://github.com/stegos/stegos" class="base_button">
                    <div class="b_b_text">{{ T "source_code" | safeHTML }}</div>
                </a>
            </div>

            <div class="c__item_r">
                <a href="https://t.me/stegos4privacy_official" class="icon_link">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="https://t.me/stegos4privacy_official" class="base_button">
                    <div class="b_b_text">{{ T "community" | safeHTML }}</div>
                </a>
            </div>

        </div>

        <div class="bg">
            <span class="bg_img"></span>
        </div>
        <div class="bg_gr_to_bot"></div>
        <div class="bg_gr_to_top"></div>

    </div>

    <div id="sector_team" class="main_sector team_block">
        <div class="m_s_title">{{ T "team" | safeHTML }}</div>
        <div class="m_s_line_decor">
            <span class="m_s_ld"></span>
            <span class="m_s_ldm"></span>
            <span class="m_s_ld"></span>
        </div>

        <div class="m_s_content_block">

            {{ range .Pages.GroupBy "Section" }}
            {{ if eq .Key "team" }}
            {{ range .Pages.ByParam "sort" }}
            <div class="content__item">

                <div class="m_s_line_decor">
                    <span class="m_s_ld"></span>
                    <span class="m_s_ldm"></span>
                    <span class="m_s_ld"></span>
                </div>

                <div class="c__item_cont">

                    <div class="c__item_head">
                        <a href="{{ "team/" | absLangURL }}{{ .Params.link }}" class="c__item_photo {{ .Params.photo }}"></a>
                        <div class="c__item_name">{{ .Params.name }}</div>
                        <div class="c__item_status">{{ .Params.status }}</div>
                    </div>

                    <div class="c__item_info">
                        {{ .Params.info }}
                        <a href="{{ "team/" | absLangURL }}{{ .Params.link }}" class="c__item_arrow_more">→</a>
                    </div>

                    <a href="{{ .Params.socialLink }}" class="icon_in">
                        {{ .Params.socialIcon | safeHTML }}
                    </a>

                </div>

            </div>
            {{ end }}
            {{ end }}
            {{ end }}

        </div>

    </div>

    <div id="sector_road" class="main_sector road_block">
        <div class="m_s_title">{{ T "roadmap" | safeHTML }}</div>
        <div class="m_s_line_decor">
            <span class="m_s_ld"></span>
            <span class="m_s_ldm"></span>
            <span class="m_s_ld"></span>
        </div>

        <div class="m_s_content_block">

            <div class="content__item">
                <div class="c_item_title">Q2 2019</div>
                <div class="c_item_decor mob_display"></div>
                <div class="c_item_info">{{ T "mainnet_and_native_token" | safeHTML }}</div>
            </div>

            <div class="content__item">
                <div class="c_item_title">Q3 2019</div>
                <div class="c_item_decor mob_display"></div>
                <div class="c_item_info">{{ T "exchange_sale" | safeHTML }}</div>
            </div>

            <div class="content__item">
                <div class="c_item_title">Q4 2019</div>
                <div class="c_item_decor mob_display"></div>
                <div class="c_item_info">{{ T "sharding" | safeHTML }}<br><br>{{ T "mobile_staking" | safeHTML }}</div>
            </div>

            <div class="content__item">
                <div class="c_item_title">Q1 2020</div>
                <div class="c_item_decor mob_display"></div>
                <div class="c_item_info">{{ T "app_store_private" | safeHTML }}</div>
            </div>

            <div class="content__item">
                <div class="c_item_title">Q2 2020</div>
                <div class="c_item_decor mob_display"></div>
                <div class="c_item_info">{{ T "pruning_with_no_bootstrap" | safeHTML }}</div>
            </div>

            <div class="content_bg"></div>

        </div>


        <div class="bg_gr_to_bot"></div>
        <div class="bg_gr_to_top"></div>

    </div>

    <div id="sector_part" class="main_sector partners_block">
        <div class="m_s_title">{{ T "partners" | safeHTML }}</div>
        <div class="m_s_line_decor">
            <span class="m_s_ld"></span>
            <span class="m_s_ldm"></span>
            <span class="m_s_ld"></span>
        </div>

        <div class="m_s_content_block">
            <div class="c__item_icon"><a href="http://www.jdcapital.com/" target="_blank" rel="nofollow"></a></div>
            <div class="c__item_icon"><a href="http://sfm.fund/" target="_blank" rel="nofollow"></a></div>
            <div class="c__item_icon"><a href="http://okico.xyz/index/index.html" target="_blank" rel="nofollow"></a>
            </div>
            <div class="c__item_icon"><a href="https://www.facebook.com/capital.thomas.9" target="_blank"
                                         rel="nofollow"></a></div>
            <div class="c__item_icon"><a href="http://www.hchain.com/" target="_blank" rel="nofollow"></a></div>
        </div>

    </div>

    <div id="sub_news"></div>

    {{ partial "mobile_form.html" . }}

    {{ partial "footer.html" . }}

</main>

{{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}

</body>
</html>
