<div class="main_footer">

     <div class="m_f_icon">
          {{ if .IsHome }}
          <div class="m_h_icon">
               <span class="main_icon"></span>
          </div>
          {{ else }}
          <a href="{{ "/" | absLangURL }}" class="main_icon scroll_link">
               <span class="main_header" style="display: none;"></span>
          </a>
          {{ end }}
     </div>

     <div class="m_f_content_block desktop_display">

          <div class="c__item_title">{{ T "subscribe_to_our_newsletter" | safeHTML }}</div>

          <form name="sub_form" method="POST" action="https://stegos.activehosted.com/proc.php" id="_form_12_"
                class="c__item_cont _form_12" novalidate>
               <input type="hidden" name="u" value="12"/>
               <input type="hidden" name="f" value="12"/>
               <input type="hidden" name="s"/>
               <input type="hidden" name="c" value="0"/>
               <input type="hidden" name="m" value="0"/>
               <input type="hidden" name="act" value="sub"/>
               <input type="hidden" name="v" value="2"/>

               <div class="_form-content">
                    <input type="text" name="email" class="input-field" placeholder="{{ T "your_email_address" }}" required/>

                    <button id="_form_12_submit" class="base_button" type="submit">
                         <span class="b_b_text">{{ T "subscribe" }}</span>
                    </button>
               </div>
               <div class="_form-thank-you" style="display:none;"></div>
          </form>

          <div class="c__item_title">{{ T "still_have_questions" | safeHTML }}</div>

          <div class="c__item_cont">

               <div class="c__item_cont_text">{{ T "join_our_community" | safeHTML }}</div>

               <a href="https://t.me/stegos4privacy_official" class="base_button">
                    <div class="b_b_text"><i class="fab fa-telegram-plane"></i>{{ T "join" }}</div>
               </a>

          </div>

          <div class="c__item_c">
               © 2019 Stegos AG, CH-6300, Zug, Switzerland<br>
               All trademarks, logos and brands are property of their respective owners.<br>
               All company, product and service names used in this website are for identification purpose
               only.<br>
               Responsible Disclosure Policy for Security Researchers
          </div>

     </div>

     <div class="m_f_icons_block m_links_icons_block">

          <a href="https://t.me/stegos4privacy" class="icon_link">
               <i class="fab fa-telegram-plane"></i>
          </a>
          <a href="https://twitter.com/stegos4privacy" class="icon_link">
               <i class="fab fa-twitter"></i>
          </a>

          <a href="https://www.youtube.com/channel/UCeYp3J_rqsTvfliowTHvfDQ?view_as=subscriber" class="icon_link">
               <i class="fab fa-youtube"></i>
          </a>

          <a href="https://www.reddit.com/r/stegos4privacy/" class="icon_link">
               <i class="fab fa-reddit-alien"></i>
          </a>
          <a href="https://medium.com/stegos4privacy" class="icon_link">
               <i class="fab fa-medium"></i>
          </a>
          <a href="https://www.facebook.com/stegos4privacy" class="icon_link">
               <i class="fab fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/stegos/stegos" class="icon_link">
               <i class="fab fa-github"></i>
          </a>

          <a href="https://bitcointalk.org/index.php?topic=5132686.new#new" class="icon_link">
               <i class="fab fa-bitcoin"></i>
          </a>

          <a class="icon_link code_link code_link_footer">
               <i class="fab fa-weixin"></i>
               <div class="code_link_box big">
                    <div class="code_link_qq"></div>
               </div>
          </a>

          <a class="icon_link code_link code_link_footer">
               <i class="qq_icon"></i>
               <div class="code_link_box">
                    <div class="code_link_wechat"></div>
               </div>
          </a>

          <a href="mailto:team@stegos.com" class="icon_link">
               <i class="far fa-envelope"></i>
          </a>
     </div>

     <div class="c__item_c mob_display">
          © 2019 Stegos AG, CH-6300, Zug, Switzerland<br>
          All trademarks, logos and brands are property of their respective owners.<br>
          All company, product and service names used in this website are for identification purpose
          only.<br>
          Responsible Disclosure Policy for Security Researchers
     </div>

     <div class="bg">
          <span class="bg_img"></span>
     </div>
     <div class="bg_gr"></div>

</div>
