.main_footer .c__item_cont, .sub_block .c__item_cont {position:relative;}

._form_12.c__item_cont .base_button, 
._form_14.c__item_cont .base_button {background:none;}

.c__item_cont input[type="text"]._has_error,.c__item_cont textarea._has_error { border-bottom:#f37c7b 1px solid; }
.c__item_cont input[type="checkbox"]._has_error { outline:#f37c7b 1px solid; }
.c__item_cont ._error { display:block; position:absolute; font-size:13px; z-index:10000001; }
.c__item_cont ._error._above { padding-bottom:4px; bottom:39px; right:0; }
	._form_16.c__item_cont ._error._above { bottom:110px;}
._form_12.c__item_cont ._error._below { padding-top:4px; top:100%; left:0; }
._form_16.c__item_cont ._error._below { padding-top:4px; top: 40%; right: 0; }
	._form_14.c__item_cont ._error._below { top:50px;}
.c__item_cont ._error._above ._error-arrow { bottom:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #f37c7b; }
.c__item_cont ._error._below ._error-arrow { top:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #f37c7b; }
.c__item_cont ._error-inner { padding:8px 12px; background-color:#f37c7b; font-size:13px; font-family:arial, sans-serif; color:#fff; text-align:center; text-decoration:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.c__item_cont ._error-inner._form_error { margin-bottom:5px; text-align:left; }
.c__item_cont ._button-wrapper ._error-inner._form_error { position:static; }
.c__item_cont ._error-inner._no_arrow { margin-bottom:10px; }
.c__item_cont ._error-arrow { position:absolute; width:0; height:0; }
.c__item_cont ._error-html { margin-bottom:10px; }

._form_12 ._form-content {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

._form-content {
    position: relative;
}

._form-thank-you {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-family: "Gotham Pro Regular", Arial;
    margin: 2em 0;
}
