html {
  min-height: 100%;
  max-width: 1920px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #0e0d17;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  max-width: 1920px; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

*,
*::after,
*::before {
  box-sizing: border-box; }

*:focus {
  outline: 0;
  outline: none; }

button {
  padding: 0;
  border-width: 0;
  cursor: pointer; }

h1 {
  margin-top: 0.67em;
  margin-bottom: 0.67em; }

h2 {
  margin-top: 0.83em;
  margin-bottom: 0.83em; }

h3 {
  margin-top: 1em;
  margin-bottom: 1em; }

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none; }

@media only screen and (max-width: 1279px) {
  html {
    background: #0e0d17; } }
main {
  color: #ddddde;
  overflow-x: hidden; }

.main_icon {
  width: 100%;
  height: 78px;
  background: url("../images/Stegos_Logo_Hor_RGB_1.svg") center no-repeat;
  display: block;
  max-width: 250px;
  background-size: contain; }

.bg_gr_to_bot {
  background: linear-gradient(to bottom, #0e0d17, #1e2432);
  z-index: -3;
  width: 100%;
  height: 40%;
  position: absolute;
  top: 10%;
  left: 0; }

.bg_gr_to_top {
  background: linear-gradient(to top, #0e0d17, #1e2432);
  z-index: -3;
  width: 100%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 0; }

.base_button {
  border: 1px #d3d3d4 solid;
  border-radius: 26px;
  display: block;
  width: 170px;
  cursor: pointer;
  transition: all 0.6s;
  height: 48px; }
  .base_button .b_b_text {
    color: #ff6c00;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    font-family: "Gotham Pro Regular";
    text-transform: uppercase;
    margin: 16px auto;
    text-align: center;
    letter-spacing: 2px; }
    .base_button .b_b_text .fab {
      display: inline;
      color: #ff6c00;
      margin-right: 10px;
      font-size: 14px;
      width: 14px; }

.base_button:hover {
  border: 1px #ff6c00 solid; }

.base_button.active {
  border: 1px #ff6c00 solid; }
.lang_block {
  position: relative;
}
.main_menu .lang_block {
  z-index: 110;
}
.lang_block .inner_lang_block{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s, visibility 0s linear 0.5s;
  -moz-transition:  opacity 0.5s, visibility 0s linear 0.5s;
  -ms-transition:  opacity 0.5s, visibility 0s linear 0.5s;
  -o-transition:  opacity 0.5s, visibility 0s linear 0.5s;
  transition:  opacity 0.5s, visibility 0s linear 0.5s;
  z-index: 101;
}
.lang_block .inner_lang_block a{
  margin-top: 15px;
}
.lang_block:hover .inner_lang_block {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  z-index: 101;
}
.inner_lang_block:hover {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  z-index: 101;
}
.inner_lang_block.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.menu_header .lang_block {
  margin: auto 40px auto 0;
}
.menu_header .lang_block .inner_lang_block a{
  margin-top: 15px;
}
.main_sector {
  padding: 80px 10%; }

.main_sector .base_button {
  margin: 20px auto; }

.m_s_title {
  font-size: 30px;
  line-height: 50px;
  font-weight: 300;
  font-family: "Gotham Pro Regular";
  text-transform: uppercase;
  margin: 20px;
  display: block;
  text-align: center; }

.m_s_line_decor {
  display: flex;
  justify-content: space-between;
  height: 4px;
  width: 100px;
  margin: 40px auto; }
  .m_s_line_decor span {
    display: block; }
  .m_s_line_decor .m_s_ld {
    height: 4px;
    width: 4px;
    background-color: #ddddde; }
  .m_s_line_decor .m_s_ldm {
    height: 2px;
    width: 100%;
    background-color: #d3d3d4;
    opacity: 0.3;
    margin: 1px 0; }

.code_link {
  position: relative; }
  .code_link .code_link_box {
    width: 100px;
    height: 138px;
    position: absolute;
    left: 1000px;
    top: -62px; }
  .code_link .code_link_wechat {
    background: url("../images/WechatIMG.png") center no-repeat;
    background-size: contain;
    width: inherit;
    height: inherit; }
  .code_link .code_link_qq {
    background: url("../images/qrcode.png") center no-repeat;
    background-size: contain;
    width: inherit;
    height: inherit; }

.code_link:hover .code_link_box {
  display: block !important;
  left: -110px; }

@media only screen and (min-width: 1024px) {
  .code_link .code_link_box {
    width: 120px;
    height: 170px;
    top: -80px; }

  .code_link:hover .code_link_box {
    left: -130px; } }
@media only screen and (min-width: 1400px) {
  .code_link .code_link_box {
    width: 140px;
    height: 200px;
    top: -94px; }

  .code_link:hover .code_link_box {
    left: -150px; } }
@media only screen and (max-width: 1023px) {
  .code_link_footer .code_link_box {
    z-index: 2; }

  .code_link_footer:hover .code_link_box {
    left: 40px; } }
@media only screen and (max-width: 719px) {
  .code_link_footer .code_link_box {
    top: -126px; }
  .code_link_footer .code_link_box.big {
    top: -146px; }

  .code_link_footer:hover .code_link_box {
    left: -37px; } }
.style_scroll_bar::-webkit-scrollbar {
  width: 6px; }

.style_scroll_bar::-webkit-scrollbar-track {
  background-color: #d3d3d4; }

.style_scroll_bar::-webkit-scrollbar-thumb {
  background-color: #ddddde; }

@media only screen and (min-width: 1400px) {
  .m_s_title {
    font-size: 34px;
    line-height: 50px; } }
@media only screen and (max-width: 719px) {
  .main_sector {
    padding: 40px 10%; }

  .main_icon {
    background: url("../images/Stegos_Logo_Vert_RGB_1.svg") center no-repeat;
    width: 120px;
    margin: auto;
    height: 100px;
    background-size: contain; }

  .m_s_title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    font-family: "Gotham Pro Regular"; } }
@media only screen and (max-width: 400px) {
  .main_icon {
    background: url("../images/Stegos_Logo_Vert_RGB_1.svg") center no-repeat;
    width: 120px;
    margin: auto;
    height: 100px;
    background-size: contain; }

  .main_sector {
    padding: 20px 10%; }

  .main_sector .base_button {
    margin: 20px auto; }

  .m_s_line_decor {
    margin: 20px auto; } }
.main_pages_indicator {
  position: fixed;
  display: flex;
  flex-flow: column;
  left: 12px;
  z-index: 2;
  height: 100%;
  justify-content: center; }
  .main_pages_indicator .indicator_btn {
    width: 6px;
    height: 6px;
    margin: 2.4vh;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddddde;
    transition: background-color 0.6s; }
  .main_pages_indicator .indicator_btn.active {
    background-color: #ff6c00; }
  .main_pages_indicator .indicator_arrow_up,
  .main_pages_indicator .indicator_arrow_down {
    font-size: 12px;
    width: 12px;
    margin: 10px auto;
    cursor: pointer;
    color: #ff6c00; }

.main_header {
  position: relative;
  padding: 15px 60px 60px 60px; }
  .main_header .bg_gr {
    background: linear-gradient(to top, #0e0d17, #1e2432);
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .main_header .m_h_icon {
    width: 22%;
    margin-top: -1%;
    transition: all 0.4s; }
  .main_header .bg {
    position: absolute;
    z-index: -1;
    width: 280vw;
    height: 180vh;
    top: -18vh;
    left: -140vw;
    margin-left: 80%;
    opacity: 0.7; }
  .main_header .bg_img {
    width: inherit;
    height: inherit;
    background: url("../images/Hme_Top_Illustration.svg") center no-repeat;
    display: block; }
  .main_header .nav_block {
    display: flex;
    justify-content: space-between; }
    .main_header .nav_block .nav_list {
      display: flex;
      justify-content: flex-end;
      min-width: 200px;
      margin-left: auto; }
  .main_header .m_h_nav_link {
    display: block;
    margin: auto 20px;
    cursor: pointer; }
    .main_header .m_h_nav_link .m_h_nav_text {
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      font-family: "Gotham Pro Regular";
      color: #ddddde;
      text-transform: uppercase;
      margin: 20px;
      letter-spacing: 3px;
      transition: all 0.6s; }
  .main_header .m_h_nav_link:hover .m_h_nav_text {
    color: #ff6c00; }
  .main_header .m_h_content_block {
    display: flex;
    margin-left: 80px;
    margin-top: 6%;
    height: 82%;
    justify-content: space-between; }
  .main_header .m_h_content {
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    bottom: 0; }
  .main_header .m_h_content_text {
    color: #ddddde;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 50px;
    font-weight: 300;
    font-family: "Gotham Pro Regular";
    letter-spacing: 2.5px;
    margin-top: 0;
    margin-bottom: 0; }
  .main_header .m_h_content_info {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    font-family: "Gotham Pro Regular";
    color: #ddddde;
    margin: 20px 0 0 0; }

.main_header.page_other {
  height: auto; }
  .main_header.page_other .m_h_icon {
    transition: all 0.4s; }
  .main_header.page_other .main_icon:hover {
    transform: scale(1.08);
    transition: all 0.4s; }

.m_h_lang_btn {
  width: 60px;
  margin: auto 0;
  height: auto; }
  .m_h_lang_btn .b_b_text {
    margin: 10px auto; }

.m_h_menu_btn {
  display: block;
  width: 34px;
  margin: auto 0 auto 40px;
  cursor: pointer; }
  .m_h_menu_btn span {
    display: block;
    width: 100%;
    height: 3px;
    margin: 6px 0; }

.m_h_menu_btn span {
  background-color: #ddddde;
  transition: background-color 0.6s; }

.m_h_menu_btn:hover span {
  background-color: #ff6c00;
  transition: background-color 0.6s; }

.form_title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  font-family: "Gotham Pro Regular";
  text-transform: uppercase;
  letter-spacing: 2.21px;
  color: #d3d3d4;
  margin: auto 0 20px 0; }

.form_block {
  width: 60%; }
  .form_block input {
    display: block;
    width: 400px;
    height: 50px;
    margin: 0 0 30px 0;
    border: none;
    background: none;
    border-bottom: 1px #454851 solid;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Gotham Pro Regular";
    color: #ddddde; }

.base_button.header_btn {
  background-color: #ff6c00;
  border-color: #ff6c00; }
  .base_button.header_btn .b_b_text {
    color: #1e2432; }

@media only screen and (min-width: 1400px) {
  .main_header {
    padding: 30px 60px 60px 60px; }
    .main_header .m_h_content_text {
      font-size: 44px;
      line-height: 60px;
      letter-spacing: 3px; }
    .main_header .m_h_content_info {
      font-size: 20px;
      line-height: 30px;
      margin: 30px 0 0 0; }
    .main_header .m_h_nav_link .m_h_nav_text {
      font-size: 18px;
      line-height: 18px; }

  .form_block input {
    width: 400px;
    height: 50px;
    margin: 0 0 30px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Gotham Pro Regular"; }

  .form_title {
    font-size: 22px;
    line-height: 28px; } }
@media only screen and (max-width: 1024px) {
  .main_header .m_h_nav_link .m_h_nav_text {
    margin: auto 10px; }
  .main_header .m_h_content_info {
    font-size: 16px;
    line-height: 24px; }

  .m_h_menu_btn {
    margin: auto 0 auto 30px; }

  .form_title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px; }

  .form_block input {
    width: 340px; } }
@media only screen and (max-width: 899px) {
  .main_header .m_h_content_block {
    margin-left: 60px; }
  .main_header .m_h_content_text {
    font-size: 32px; } }
@media only screen and (min-width: 720px) {
  .main_header {
    height: 100vh; } }
@media only screen and (min-width: 720px) and (max-height: 500px) {
  .main_header {
    padding-bottom: 30px; }
    .main_header .m_h_content_block {
      height: 84%;
      margin-top: 0; }
    .main_header .m_h_content_text {
      font-size: 28px;
      line-height: 32px; }
    .main_header .m_h_content_info {
      font-size: 14px;
      line-height: 20px;
      margin: 10px 0 0 0; }
    .main_header .form_title {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1px;
      margin: auto 0 0 0; }
    .main_header .form_block input {
      margin: 0 0 16px 0; } }
@media only screen and (max-width: 719px) {
  .main_header .bg {
    width: 2000px;
    height: 1200px;
    top: -30px;
    left: -800px;
    margin-left: 50%; }
  .main_header .m_h_content_block {
    margin-left: 0; }
  .main_header .m_h_icon {
    width: 42%; }
  .main_header .m_h_content {
    width: 100%;
    margin-left: 0;
    position: relative; }
    .main_header .m_h_content .base_button {
      margin: 0 auto; }
  .main_header .m_h_content_text {
    text-align: center;
    margin: 60px auto 0 auto;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 4px;
    width: 341px; }
  .main_header .m_h_content_info {
    text-align: center;
    margin-bottom: 120px; }

  .m_h_menu_btn {
    margin: auto 0; }

  .form_title {
    text-align: center; }

  .form_block {
    margin: auto;
    width: 100%; }
    .form_block input {
      width: 340px;
      margin: 10px auto 30px auto; } }
@media only screen and (max-width: 400px) {
  .main_header {
    padding: 20px; }
    .main_header .bg {
      top: -80px; }
    .main_header .m_h_content_text {
      margin: 40px auto 0 auto;
      font-size: 20px;
      line-height: 30px;
      width: 200px; }
    .main_header .m_h_content_info {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 120px; }

  .form_title {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px; }

  .form_block input {
    width: 280px;
    font-size: 14px;
    line-height: 16px; } }
.news_block .m_s_content_block {
  display: flex;
  margin: 60px 0; }
.news_block .content__item_col {
  width: 33%;
  margin-bottom: -20px; }
.news_block .content__item {
  background: #202434;
  position: relative;
  height: 280px;
  margin: 10px auto;
  cursor: pointer;
  border: 1px #202434 solid;
  transition: all 0.4s;
  display: block;
  width: 97%; }
.news_block .content__item.big {
  height: 570px; }
.news_block .c__item_title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Gotham Pro Regular";
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 6%;
  color: #ddddde; }
.news_block .c__item_info {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Gotham Pro Regular";
  color: #d3d3d4;
  margin: 6%;
  position: absolute;
  top: 100px; }
.news_block .c__item_data {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Gotham Pro Regular";
  color: #d3d3d4;
  margin: 6%;
  position: absolute;
  bottom: 0; }
.news_block .c__item_btn {
  position: absolute;
  bottom: -1px;
  right: -1px;
  transition: all 0.6s; }
.news_block .c__item_arrow_more {
  color: #ff6c00;
  font-size: 16px;
  margin: 10px 10px;
  display: block;
  transition: all 0.6s; }
.news_block .content__item:hover {
  background: transparent;
  border: 1px #d3d3d4 solid; }

.page_news .toggles_block {
  display: flex;
  justify-content: space-between;
  margin: 0 12px; }
.page_news .pages_toggle {
  display: flex; }
  .page_news .pages_toggle .c__item_btn {
    position: relative; }
.page_news .arrow_name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Gotham Pro Regular";
  color: #d3d3d4;
  margin: auto 10px;
  transition: all 0.6s; }
.page_news .arrow_prev {
  margin-right: auto; }
.page_news .arrow_next {
  margin-left: auto; }
.page_news .pages_toggle:hover .arrow_name {
  color: #ff6c00; }
.page_news .pages_toggle.locked {
  display: none; }
.page_news .tags_block {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap; }
  .page_news .tags_block .fa-tag {
    color: #d3d3d4;
    font-size: 28px;
    width: 28px;
    margin: auto 12px;
    transform: scale(-1, 1); }
  .page_news .tags_block .tag_name {
    color: #d3d3d4;
    background: #333843;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-family: "Gotham Pro Regular";
    padding: 6px 20px;
    border-radius: 16px;
    letter-spacing: 2px;
    margin: 10px 6px; }
  .page_news .tags_block .fa-times-circle {
    color: #ff6c00;
    font-size: 28px;
    width: 28px;
    margin: 10px 14px 10px 6px; }
.page_news .tag__item {
  display: flex; }
.page_news .bottom_tags .tag_name {
  transition: all 0.6s; }
.page_news .bottom_tags .tag_name:hover {
  background: #ff6c00; }
.page_news .back_data_block {
  display: flex;
  justify-content: space-between; }
  .page_news .back_data_block .c__item_arrow_more {
    width: 20px;
    margin: 0 20px 0 0;
    display: inline; }
  .page_news .back_data_block .back_btn_nm {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    font-family: "Gotham Pro Regular";
    color: #ddddde; }
  .page_news .back_data_block .m_s_line_decor {
    margin: 10px 0;
    width: 120px; }
.page_news .back_to_list_btn .back_btn_nm {
  transition: all 0.6s; }
.page_news .back_to_list_btn:hover .back_btn_nm {
  color: #ff6c00; }
.page_news .data_field {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Gotham Pro Regular";
  margin: auto 0; }
.page_news ul, .page_news li {
  font-family: "Gotham Pro Regular"; }
.page_news .one_news_block {
  margin: 40px 10%; }
  .page_news .one_news_block a {
    color: #ff6c00;
    transition: all 0.4s; }
  .page_news .one_news_block a:hover {
    color: #ff6c00; }
  .page_news .one_news_block a:visited {
    color: #642b00; }
  .page_news .one_news_block strong {
    color: #ddddde; }
  .page_news .one_news_block li {
    color: #d3d3d4;
    margin: 20px 0 20px 20px;
    line-height: 24px;
    list-style: disc; }
.page_news .news_title {
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  font-family: "Gotham Pro Regular";
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ddddde;
  margin: 40px 0;
  width: 70%; }
.page_news .news_base_text_block {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Gotham Pro Regular";
  color: #d3d3d4;
  margin: 26px 0; }
.page_news .news_text_title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
  font-family: "Gotham Pro Regular";
  letter-spacing: 1.4px;
  color: #ddddde;
  margin: 40px 0; }

@media only screen and (min-width: 1600px) {
  .news_block .m_s_content_block {
    width: 90%;
    margin: 60px auto; } }
@media only screen and (min-width: 1400px) {
  .news_block .content__item {
    height: 330px; }
  .news_block .content__item.big {
    height: 670px; }
  .news_block .c__item_title {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2.2px; }
  .news_block .c__item_info {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.1px; }
  .news_block .c__item_data {
    font-size: 18px;
    line-height: 22px; }

  .news_block.page_news .c__item_title {
    font-size: 22px;
    line-height: 22px; }
  .news_block.page_news .c__item_info {
    font-size: 18px;
    line-height: 22px; } }
@media only screen and (min-width: 800px) {
  .news_block.page_news {
    padding: 60px 16%; }
    .news_block.page_news .m_s_content_block {
      flex-flow: column; }
    .news_block.page_news .content__item_col {
      width: 100%; }
    .news_block.page_news .content__item {
      width: 100%;
      margin: 20px auto;
      height: auto; }
    .news_block.page_news .content__item.big {
      height: auto; }
      .news_block.page_news .content__item.big .c__item_info {
        top: 0; }
    .news_block.page_news .c__item_info {
      position: relative;
      top: 0;
      margin: 40px 40px 40px 110px; }
    .news_block.page_news .c__item_data {
      left: 0;
      top: 0;
      margin: 40px 0 0 40px; }
    .news_block.page_news .c__item_title {
      margin: 40px 40px 40px 110px; }
    .news_block.page_news .data_bl_inl {
      display: none; }
    .news_block.page_news .data_bl_fl {
      display: flex; }
    .news_block.page_news .data_bl_fl_item:nth-of-type(1) {
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      font-family: "Gotham Pro Regular";
      color: #ddddde;
      margin-right: 4px; }
    .news_block.page_news .data_bl_fl_item:nth-of-type(2) {
      font-size: 10px;
      line-height: 10px;
      font-weight: 400;
      font-family: "Gotham Pro Regular";
      color: #d3d3d4; } }
@media only screen and (max-width: 1221px) {
  .news_block .c__item_title {
    letter-spacing: 0; }
  .news_block .c__item_info {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Gotham Pro Regular"; } }
@media only screen and (min-width: 800px) and (max-width: 1099px) {
  .news_block .c__item_title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    font-family: "Gotham Pro Regular";
    letter-spacing: 0; }
  .news_block .c__item_info {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: "Gotham Pro Regular"; }

  .page_news {
    padding: 60px 4%; } }
@media only screen and (max-width: 799px) {
  .news_block.page_news .data_bl_fl {
    display: none; }

  .news_block .m_s_content_block {
    flex-flow: column; }
  .news_block .content__item_col {
    width: 100%; }
  .news_block .c__item_data {
    position: relative; }
  .news_block .content__item {
    width: 100%;
    margin: 20px auto;
    height: auto; }
  .news_block .content__item.big {
    height: auto; }
    .news_block .content__item.big .c__item_info {
      top: 0; }
  .news_block .c__item_info {
    position: relative;
    top: 0; }

  .page_news {
    padding: 40px 6%; }
    .page_news .m_s_content_block {
      margin: 30px 0; }
    .page_news .one_news_block {
      margin: 40px 4%; } }
.page_news .tags_block {
  display: none; }

.team_block .m_s_content_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .team_block .m_s_content_block .m_s_line_decor {
    flex-flow: column;
    height: 100%;
    width: 4px;
    margin: 0 20px 0 0; }
    .team_block .m_s_content_block .m_s_line_decor .m_s_ldm {
      height: 100%;
      width: 2px;
      margin: 0 1px; }
.team_block .content__item {
  display: flex;
  width: 33%;
  margin: 20px 0; }
.team_block .c__item_cont {
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
.team_block .c__item_head {
  height: 320px; }
.team_block .c__item_name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Gotham Pro Regular";
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px 0 10px 0; }
.team_block .c__item_status {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Gotham Pro Regular";
  letter-spacing: 1.3px;
  text-transform: uppercase; }
.team_block .c__item_info {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Gotham Pro Regular";
  color: #d3d3d4;
  margin-bottom: auto; }
.team_block .c__item_arrow_more,
.team_block .icon_in {
  color: #ff6c00;
  font-size: 16px; }
.team_block .icon_in {
  margin: 20px 0 0 0;
  display: block;
  width: 16px; }
.team_block .c__item_photo {
  width: 200px;
  height: 200px;
  border: 1px #d3d3d4 solid;
  border-radius: 100px;
  transition: all 0.4s;
  display: block;
  cursor: pointer; }
.team_block .c__item_photo:hover {
  border-color: #ff6c00; }
.team_block .photo_joel {
  background: url("../images/Joel.png") center no-repeat;
  background-size: cover; }
.team_block .photo_vl {
  background: url("../images/Lebedev.png") center no-repeat;
  background-size: cover; }
.team_block .photo_david {
  background: url("../images/David-McClain.png") center no-repeat;
  background-size: cover; }
.team_block .photo_roman {
  background: url("../images/Roman-Tsisyk.png") center no-repeat;
  background-size: cover; }
.team_block .photo_eugene {
  background: url("../images/Eugene-Chupriyanov.png") center no-repeat;
  background-size: cover; }
.team_block .photo_vol {
  background: url("../images/Volodymyr-Motylenko.png") center no-repeat;
  background-size: cover; }
.team_block .photo_drew {
  background: url("../images/Drew.png") center no-repeat;
  background-size: cover; }
.team_block .team_btn {
  width: 100px; }
  .team_block .team_btn .b_b_text {
    font-size: 28px; }

.page_team .content__item {
  width: 70%;
  margin: 3% auto; }
.page_team .c__item_cont {
  flex-flow: row; }
.page_team .c__item_info {
  width: 50%; }
.page_team .icon_in {
  margin-top: 40px; }

@media only screen and (min-width: 1400px) {
  .team_block .content__item {
    width: 30%; }
  .team_block .c__item_head {
    height: 330px; }
  .team_block .c__item_name {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 2.2px; }
  .team_block .c__item_status {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.4px; }
  .team_block .c__item_info {
    font-size: 18px;
    line-height: 22px; }
  .team_block .c__item_arrow_more {
    font-size: 20px; }
  .team_block .icon_in {
    font-size: 20px;
    margin: 20px 0 0 0;
    width: 20px; }

  .page_team .content__item {
    width: 70%; } }
@media only screen and (max-width: 1399px) {
  .team_block .c__item_photo {
    width: 150px;
    height: 150px; }
  .team_block .c__item_head {
    height: 270px; } }
@media only screen and (max-width: 1099px) {
  .team_block .content__item {
    width: 48%; }

  .page_team .content__item {
    width: 80%; } }
@media only screen and (max-width: 939px) {
  .page_team .content__item {
    width: 90%; } }
@media only screen and (max-width: 719px) {
  .team_block .m_s_content_block {
    flex-flow: column; }
    .team_block .m_s_content_block .m_s_line_decor {
      display: none; }
  .team_block .content__item {
    width: 100%;
    display: block; }
  .team_block .c__item_photo {
    width: 200px;
    height: 200px; }
  .team_block .c__item_head {
    height: auto; }
  .team_block .c__item_info {
    width: 80%;
    margin: 20px auto 10px auto; }
  .team_block .c__item_photo {
    margin: auto; }
  .team_block .c__item_name, .team_block .c__item_status {
    text-align: center; }
  .team_block .icon_in {
    margin: 20px auto; }

  .page_team .c__item_info {
    display: block; } }
@media only screen and (max-width: 679px) {
  .page_team .c__item_info {
    display: block;
    width: 80%;
    margin: 20px auto; }
  .page_team .c__item_cont {
    flex-flow: column; } }
@media only screen and (max-width: 499px) {
  .team_block .c__item_photo {
    width: 150px;
    height: 150px; }

  .page_team .c__item_info {
    width: 90%; } }
@media only screen and (max-width: 399px) {
  .page_team .c__item_info {
    width: 96%; } }
.road_block {
  position: relative; }
  .road_block .m_s_content_block {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 800px;
    margin: 0 auto; }
  .road_block .content__item {
    width: 16%;
    height: 260px;
    display: flex;
    flex-flow: column; }
  .road_block .c_item_title {
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    font-family: "Gotham Pro Regular";
    text-transform: uppercase;
    letter-spacing: 4.26px;
    color: #ddddde;
    width: 60%;
    margin-left: auto; }
  .road_block .c_item_info {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Gotham Pro Regular";
    letter-spacing: 0.8px;
    color: #d3d3d4;
    width: 80%;
    margin-right: auto;
    margin-top: 160px; }
  .road_block .content_bg {
    width: 1308px;
    height: 71px;
    background: url(../images/road_bg.png) center no-repeat;
    background-size: contain;
    position: absolute;
    top: 100px;
    margin-left: -654px;
    left: 50%; }

@media only screen and (min-width: 1400px) {
  .road_block .m_s_content_block {
    width: 1100px; }
  .road_block .content__item {
    height: 320px; }
  .road_block .content_bg {
    width: 1900px;
    height: 190px;
    margin-left: -950px; }
  .road_block .c_item_title {
    font-size: 30px;
    margin-top: 36px;
    line-height: 36px;
    width: 56%; }
  .road_block .c_item_info {
    font-size: 18px;
    line-height: 22px;
    margin-top: 180px; } }
@media only screen and (max-width: 1023px) {
  .road_block .m_s_content_block {
    width: 580px; }
  .road_block .content_bg {
    width: 1000px;
    height: 60px;
    margin-left: -500px;
    top: 70px; }
  .road_block .c_item_title {
    font-size: 18px;
    margin-top: 20px;
    line-height: 22px;
    width: 58%; }
  .road_block .c_item_info {
    font-size: 14px;
    line-height: 16px;
    margin-top: 74px; } }
@media only screen and (max-width: 719px) {
  .road_block .content_bg {
    display: none; }
  .road_block .c_item_decor {
    height: 2px;
    background-color: #ff6c00;
    width: 50%;
    margin: 10px auto 10px 0; }
  .road_block .m_s_content_block {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
  .road_block .content__item {
    width: 120px;
    height: 130px;
    margin: 10px auto; }
  .road_block .c_item_title {
    margin: 0 auto 0 0;
    width: 50%; }
  .road_block .c_item_info {
    margin: 0 auto auto 0;
    width: 90%; } }
.why_block {
  padding: 60px 30px; }
  .why_block .m_s_content_block {
    display: flex;
    justify-content: center;
    margin: 60px 0; }
  .why_block .content__item {
    width: 17%;
    min-width: 196px;
    margin-left: auto; }
  .why_block .icon_leave {
    width: 270px;
    height: 309px;
    background: url("../images/icons/MOBILE MINING.svg") center no-repeat;
    display: block; }
  .why_block .icon_conf {
    width: 270px;
    height: 309px;
    background: url("../images/icons/CONFIDENTIAL.svg") center no-repeat;
    display: block; }
  .why_block .icon_scal {
    width: 270px;
    height: 309px;
    background: url("../images/icons/SCALABLE.svg") center no-repeat;
    display: block; }
  .why_block .icon_small {
    width: 270px;
    height: 309px;
    background: url("../images/icons/SMALL AND FAST.svg") center no-repeat;
    display: block; }
  .why_block .item_icon {
    background-size: contain;
    width: 70%;
    height: 140px;
    opacity: 0.7; }
  .why_block .item_name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    font-family: "Gotham Pro Regular";
    text-transform: uppercase;
    letter-spacing: 2px; }
  .why_block .item_text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Gotham Pro Regular";
    color: #d3d3d4; }
  .why_block .item_cont_text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Gotham Pro Regular";
    color: #d3d3d4;
    letter-spacing: 0.7px; }

.page_why_block .m_s_content_block {
  justify-content: center;
  flex-wrap: wrap; }
.page_why_block .content__item {
  width: 33%;
  padding: 2% 4%; }
.page_why_block .more_title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Gotham Pro Regular";
  color: #ddddde;
  margin: 2% 16%; }
.page_why_block .more_block {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  font-family: "Gotham Pro Regular";
  color: #d3d3d4;
  margin: 2% 16%; }

.stegos_mobile_block {
  position: relative; }
  .stegos_mobile_block .m_s_bg_eye_box {
    position: relative; }
  .stegos_mobile_block .m_s_bg_icon_eye {
    position: absolute;
    background: url("../images/eye.png") center no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
    z-index: -1;
    top: -173px;
    left: 50%;
    margin-left: -200px; }
  .stegos_mobile_block .m_s_bg_phone_box {
    position: relative; }
  .stegos_mobile_block .m_s_bg_icon_phone {
    position: absolute;
    background: url("../images/Phone_V.png") center no-repeat;
    background-size: contain;
    width: 358px;
    height: 523px;
    z-index: -1;
    bottom: 0;
    left: -179px;
    margin-left: 50%; }
  .stegos_mobile_block .base_button {
    margin-top: 60px; }
  .stegos_mobile_block .m_s_content_block {
    position: relative;
    display: flex;
    justify-content: space-between; }
  .stegos_mobile_block .c__item_cont {
    display: flex;
    flex-flow: column;
    width: 305px;
    height: 648px;
    position: relative; }
  .stegos_mobile_block .c__item_cont:before {
    background: url("../images/stegos_mob_c4_2_l.png") center no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    content: ""; }
  .stegos_mobile_block .c__item_cont:nth-of-type(2):before {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1); }
  .stegos_mobile_block .c__item {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Gotham Pro Regular";
    color: #d3d3d4;
    text-align: center; }
  .stegos_mobile_block .c__item_cont:nth-of-type(1) .c__item:nth-of-type(1) {
    margin: 0px 64px 0 64px;
    position: absolute;
    top: 80px;}
  .stegos_mobile_block .c__item_cont:nth-of-type(1) .c__item:nth-of-type(2) {
    margin: 0px 44px 0 44px;
    position: absolute;
    top: 400px;}
  .stegos_mobile_block .c__item_cont:nth-of-type(2) .c__item:nth-of-type(1) {
    margin: 0px 44px 0 44px;
    position: absolute;
    top: 100px;}
  .stegos_mobile_block .c__item_cont:nth-of-type(2) .c__item:nth-of-type(2) {
    margin: 0px 64px 0 64px;
    position: absolute;
    top: 450px;}
  .stegos_mobile_block .bg {
    position: absolute;
    z-index: -2;
    width: 134%;
    height: 150%;
    top: -60%;
    left: -116%;
    margin-left: 50%;
    opacity: 0.3; }
  .stegos_mobile_block .bg_img {
    width: inherit;
    height: inherit;
    background: url("../images/App_Illustration.svg") center no-repeat;
    display: block; }

.video_sector {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0; }
  .video_sector .video_cont {
    width: 800px;
    height: 800px;
    background-color: #0e0d17;
    border: 1px solid #1e2432;
    position: relative;
    top: 50%;
    margin: -400px auto auto auto;
    z-index: 2; }
  .video_sector .bg {
    width: 100%;
    height: 100%;
    background-color: #0e0d17;
    opacity: 0.6;
    position: absolute;
    top: 0; }

.video_cont_close_btn {
  display: block;
  cursor: pointer;
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px; }

.video_cont_close_btn:hover .btn_close:after, .video_cont_close_btn:hover .btn_close:before {
  background-color: #ff6c00;
  transition: background-color 0.6s; }

.project_block {
  padding-bottom: 0;
  position: relative; }
  .project_block .m_s_cont_title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    font-family: "Gotham Pro Regular";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin: 60px 0; }
  .project_block .m_s_content_block {
    position: relative; }
  .project_block .c__item_l, .project_block .c__item_r {
    width: 33%;
    position: absolute;
    top: 0; }
  .project_block .c__item_l {
    left: 0; }
  .project_block .c__item_r {
    right: 0; }
  .project_block .c__item {
    height: 480px;
    margin: auto;
    width: 40%; }
  .project_block .bg {
    position: absolute;
    z-index: -2;
    width: 134%;
    height: 150%;
    top: -60%;
    left: -100%;
    margin-left: 50%;
    opacity: 0.3; }
  .project_block .bg_img {
    width: inherit;
    height: inherit;
    background: url("../images/App_Illustration.svg") center no-repeat;
    display: block; }
  .project_block .icon_whitepaper {
    background: url("../images/Whitepaper.png") center no-repeat;
    background-size: contain;
    height: inherit;
    display: block;
    margin-right: -11%; }
  .project_block .icon_link {
    margin: 20px auto;
    display: block;
    width: 40px; }
    .project_block .icon_link .fab {
      font-size: 40px;
      display: block;
      cursor: pointer;
      margin: 0 auto;
      color: #ddddde;
      transition: color 0.6s; }
    .project_block .icon_link .fab:hover {
      color: #ff6c00; }

.partners_block .m_s_content_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .partners_block .m_s_content_block .c__item_icon {
    width: 220px;
    height: 90px;
    margin: 20px 1%; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(1) a {
    background: url("../images/icons/lab_b.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(1) a:hover {
    background: url("../images/icons/lab_c.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(2) a {
    background: url("../images/icons/sfm_b.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(2) a:hover {
    background: url("../images/icons/sfm_c.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(3) a {
    background: url("../images/icons/ico_b.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(3) a:hover {
    background: url("../images/icons/ico_c.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(4) a {
    background: url("../images/icons/t_b.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(4) a:hover {
    background: url("../images/icons/t_c.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(5) a {
    background: url("../images/icons/hc_b.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon:nth-of-type(5) a:hover {
    background: url("../images/icons/hc_c.png") center no-repeat;
    background-size: contain; }
  .partners_block .m_s_content_block .c__item_icon a {
    transition: all 0.6s;
    height: inherit;
    width: inherit;
    display: block; }

@media only screen and (min-width: 1024px) {
  .why_block .item_name {
    font-size: 18px;
    line-height: 22px; } }
@media only screen and (min-width: 1400px) {
  .why_block .content__item {
    width: 20%; }
  .why_block .item_icon {
    margin: 0 0 20px -20px; }
  .why_block .item_name {
    font-size: 20px;
    line-height: 24px; }
  .why_block .item_cont_text {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.2px; }

  .project_block .c__item {
    height: 600px; }
  .project_block .m_s_cont_title {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 3.4px; } }
@media only screen and (min-width: 1600px) {
  .why_block {
    padding: 60px 140px; }
    .why_block .item_icon {
      margin: 0 0 20px -40px; }

  .stegos_mobile_block .c__item {
    font-size: 24px;
    line-height: 32px; }
  .stegos_mobile_block .c__item_cont {
    width: 407px;
    height: 864px; }
  .stegos_mobile_block .c__item_cont:nth-of-type(1) .c__item:nth-of-type(1) {
    margin: 0px 70px 0 70px;
    position: absolute;
    top: 110px;
    }
  .stegos_mobile_block .c__item_cont:nth-of-type(1) .c__item:nth-of-type(2) {
    margin: 0px 40px 0 40px;
    position: absolute;
    top: 520px;
    }
  .stegos_mobile_block .c__item_cont:nth-of-type(2) .c__item:nth-of-type(1) {
    margin: 0px 40px 0 40px;
    position: absolute;
    top: 120px;
    }
  .stegos_mobile_block .c__item_cont:nth-of-type(2) .c__item:nth-of-type(2) {
    margin: 0px 70px 0 70px;
    position: absolute;
    top: 600px;
    }
  .stegos_mobile_block .m_s_bg_icon_phone {
    width: 478px;
    height: 698px;
    left: -239px; } }
@media only screen and (max-width: 1099px) {
  .why_block .item_name {
    letter-spacing: 1px; }

  .project_block .c__item_l {
    left: auto;
    right: 0;
    top: 50px; }
  .project_block .c__item_r {
    top: 200px; }
  .project_block .c__item {
    margin: 0 auto 0 12%;
    width: 350px; }

  .stegos_mobile_block .c__item {
    font-size: 14px;
    line-height: 18px; }
  .stegos_mobile_block .c__item_cont {
    width: 228px;
    height: 486px; }
  .stegos_mobile_block .c__item_cont:nth-of-type(1) .c__item:nth-of-type(1) {
    margin: 0px 38px 0 38px;
    position: absolute;
    top: 70px;}
  .stegos_mobile_block .c__item_cont:nth-of-type(1) .c__item:nth-of-type(2) {
    margin: 0px 18px 0 18px;
    position: absolute;
    top: 300px;}
  .stegos_mobile_block .c__item_cont:nth-of-type(2) .c__item:nth-of-type(1) {
    margin: 0px 18px 0 18px;
    position: absolute;
    top: 70px;}
  .stegos_mobile_block .c__item_cont:nth-of-type(2) .c__item:nth-of-type(2) {
    margin: 0px 38px 0 38px;
    position: absolute;
    top: 340px;}
  .stegos_mobile_block .m_s_bg_icon_phone {
    width: 268px;
    height: 392px;
    left: -134px; } }
@media only screen and (max-width: 1023px) {
  .page_why_block .content__item {
    width: 48%;
    margin: 0 auto; }
  .page_why_block .more_title {
    margin: 6% 4%; }
  .page_why_block .more_block {
    margin: 6% 4%; }

  .stegos_mobile_block .m_s_title {
    font-size: 24px;
    margin: 0; }

  .project_block .c__item {
    margin: 0 auto 0 8%; } }
@media only screen and (max-width: 939px) {
  .why_block .m_s_content_block {
    flex-wrap: wrap; }
  .why_block .content__item {
    margin: 20px 6%; } }
@media only screen and (max-width: 800px) {
  .stegos_mobile_block {
    padding: 40px 10%; }
    .stegos_mobile_block .c__item {
      font-size: 18px;
      line-height: 24px; }
    .stegos_mobile_block .m_s_content_block {
      margin: 80px auto -60px auto;
      flex-flow: column; }
    .stegos_mobile_block .c__item_cont {
      margin: auto;
      width: auto;
      height: auto; }
    .stegos_mobile_block .c__item_cont:before {
      background: transparent; }
    .stegos_mobile_block .c__item:nth-of-type(1),
    .stegos_mobile_block .c__item:nth-of-type(2),
    .stegos_mobile_block .c__item:nth-of-type(3),
    .stegos_mobile_block .c__item:nth-of-type(4) {
      width: 320px;
      height: 360px;
      background: url(../images/stegos_mob_c4_mob.png) center no-repeat;
      background-size: contain;
      position: relative;
      display: flex;
      margin: -30px auto 0 auto;
      z-index: -1; }
    .stegos_mobile_block .c__item_cont:nth-of-type(1) .c__item:nth-of-type(1),
    .stegos_mobile_block .c__item_cont:nth-of-type(1) .c__item:nth-of-type(2) {
      margin: -50px auto 0 auto;
      position: unset;
      top: unset;}
    .stegos_mobile_block .c__item_cont:nth-of-type(2) .c__item:nth-of-type(1) {
      margin: -50px auto 0 auto;
      position: unset;
      top: unset;}
    .stegos_mobile_block .c__item_cont:nth-of-type(2) .c__item:nth-of-type(1) .c__item_text {
      margin: auto 20px;
      position: unset;
      top: unset;}
    .stegos_mobile_block .c__item_cont:nth-of-type(2) .c__item:nth-of-type(2) {
      margin: -50px auto 0 auto;
      position: unset;
      top: unset;}
    .stegos_mobile_block .c__item_text {
      margin: auto 40px; }
    .stegos_mobile_block .m_s_bg_icon_phone {
      width: 358px;
      height: 523px;
      left: -179px;
      position: relative; }
    .stegos_mobile_block .bg_img {
      background: none; } }
@media only screen and (max-width: 719px) {
  .partners_block .m_s_content_block .c__item_icon {
    width: 120px;
    height: 60px; }

  .why_block .m_s_content_block {
    margin: 40px 0; }

  .page_why_block {
    padding: 40px 6px; }

  .project_block .c__item_l, .project_block .c__item_r {
    width: 100%;
    position: relative;
    top: 0; }
  .project_block .c__item {
    width: 100%;
    margin: auto auto auto -5%; }
  .project_block .bg_img {
    background: none; }
  .project_block .icon_whitepaper {
    margin-right: -20%; } }
@media only screen and (max-width: 599px) {
  .why_block .m_s_content_block {
    flex-flow: column;
    position: relative; }
  .why_block .content__item {
    margin-right: 0;
    margin-left: 50%;
    left: -98px;
    position: relative; }
  .why_block .item_name {
    text-align: center; }
  .why_block .item_icon {
    margin: auto; } }
@media only screen and (max-width: 440px) {
  .stegos_mobile_block {
    padding: 40px 4%; }
    .stegos_mobile_block .c__item:nth-of-type(1),
    .stegos_mobile_block .c__item:nth-of-type(2),
    .stegos_mobile_block .c__item:nth-of-type(3),
    .stegos_mobile_block .c__item:nth-of-type(4) {
      width: 280px;
      height: 280px; }
    .stegos_mobile_block .c__item_text {
      margin: auto 30px;
      font-size: 14px;
      line-height: 18px; }
    .stegos_mobile_block .m_s_bg_icon_phone {
      width: 268px;
      height: 392px;
      left: -134px; } }
@media only screen and (max-width: 860px) {
  .video_sector .video_cont {
    width: 600px;
    height: 600px;
    margin-top: -300px; } }
@media only screen and (max-height: 860px) {
  .video_sector .video_cont {
    width: 600px;
    height: 600px;
    margin-top: -300px; } }
@media only screen and (max-width: 660px) {
  .video_sector .video_cont {
    width: 400px;
    height: 400px;
    margin-top: -200px; } }
@media only screen and (max-height: 620px) {
  .video_sector .video_cont {
    width: 400px;
    height: 400px;
    margin-top: -200px; } }
@media only screen and (max-width: 440px) {
  .video_sector .video_cont {
    width: 300px;
    height: 300px;
    margin-top: -150px; } }
@media only screen and (max-height: 420px) {
  .video_sector .video_cont {
    width: 300px;
    height: 300px;
    margin-top: -150px; } }
.main_footer {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative; }
  .main_footer .bg {
    position: absolute;
    z-index: -1;
    width: 134%;
    height: 150%;
    top: -60%;
    left: -121%;
    margin-left: 50%;
    opacity: 0.3; }
  .main_footer .bg_img {
    width: inherit;
    height: inherit;
    background: url("../images/Footer_Illustration.svg") center no-repeat;
    display: block; }
  .main_footer .bg_gr {
    background: linear-gradient(to bottom, #0e0d17, #1e2432);
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .main_footer .m_f_icon {
    width: 30%;
    z-index: 1; }
  .main_footer .main_icon {
    width: 200px;
    height: 62px;
    background-size: contain;
    margin: auto;
    transition: all 0.4s; }
  .main_footer .main_icon:hover {
    transform: scale(1.08); }
  .main_footer .m_f_content_block {
    width: 53%;
    z-index: 1; }
  .main_footer .c__item_c {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Gotham Pro Regular";
    color: #d3d3d4; }

.m_links_icons_block {
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  .m_links_icons_block .icon_link {
    display: block;
    width: 16px; }
  .m_links_icons_block .icon_link:nth-of-type(1) {
    margin-top: 10px; }
  .m_links_icons_block .fab, .m_links_icons_block .far {
    font-size: 16px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    color: #d3d3d4;
    transition: color 0.6s; }
  .m_links_icons_block .fab:hover, .m_links_icons_block .far:hover, .m_links_icons_block .fab:active, .m_links_icons_block .far:active {
    color: #ff6c00; }
  .m_links_icons_block .qq_icon {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    background-color: #d3d3d4;
    transition: color 0.6s;
    width: 16px;
    height: 16px;
    mask-image: url("../images/icons/QQ.svg");
    -webkit-mask-image: url("../images/icons/QQ.svg"); }
  .m_links_icons_block .qq_icon:hover {
    background-color: #ff6c00; }

.c__item_cont_text,
.c__item_cont_title,
.c__item_cont_title a {
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  font-family: "Gotham Pro Regular";
  color: #d3d3d4; }

.c__item_cont_text {
  margin: auto 0; }

.c__item_cont_title {
  margin: 20px 0; }
  .c__item_cont_title a {
    transition: color 0.4s; }

.c__item_cont_title a:hover {
  color: #ff6c00; }

.main_footer .c__item_title,
.sub_block .c__item_title {
  font-size: 20px;
  line-height: 50px;
  font-weight: 300;
  font-family: "Gotham Pro Regular";
  text-transform: uppercase;
  letter-spacing: 3px; }

.sub_block .c__item_title {
  text-align: center;
  width: 60%;
  margin: auto; }

.sub_block .c__item_cont_text {
  text-align: center;
  margin: 30px 0; }

.main_footer .c__item_cont,
.sub_block .c__item_cont {
  display: flex;
  justify-content: space-between;
  margin: 40px 0; }
  .main_footer .c__item_cont input,
  .sub_block .c__item_cont input {
    display: block;
    width: 60%;
    border: none;
    background: none;
    border-bottom: 1px #454851 solid;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Gotham Pro Regular";
    color: #d3d3d4; }

.sub_block .c__item_cont {
  display: block;
  margin: 0; }
  .sub_block .c__item_cont input {
    width: 100%;
    height: 48px;
    margin: 30px 0; }

@media only screen and (min-width: 1200px) {
  .main_footer .bg {
    height: 200%;
    top: -135%;
    left: -127%; } }
@media only screen and (min-width: 1400px) {
  .main_footer .main_icon {
    width: 250px; }
  .main_footer .c__item_c {
    font-size: 14px;
    line-height: 20px; }

  .m_links_icons_block .icon_link {
    width: 20px; }
  .m_links_icons_block .icon_link:nth-of-type(1) {
    margin-top: 14px; }
  .m_links_icons_block .fab, .m_links_icons_block .far {
    font-size: 20px; }
  .m_links_icons_block .qq_icon {
    width: 20px;
    height: 20px; }

  .main_footer .c__item_title,
  .sub_block .c__item_title {
    font-size: 22px; }

  .c__item_cont_text,
  .c__item_cont_title,
  .c__item_cont_title a {
    font-size: 19px; } }
@media only screen and (max-width: 1023px) {
  .main_footer .m_links_icons_block {
    width: 30%;
    top: 140px;
    position: absolute;
    justify-content: center;
    flex-flow: wrap; }
  .main_footer .icon_link {
    margin: 20px;
    width: 26px; }
  .main_footer .icon_link:nth-of-type(1) {
    margin-top: 20px; }
  .main_footer .fab, .main_footer .far {
    font-size: 26px; }
  .main_footer .qq_icon {
    width: 26px;
    height: 26px; }
  .main_footer .m_f_content_block.desktop_display {
    width: 60%; } }
@media only screen and (max-width: 719px) {
  .main_footer {
    flex-flow: column; }
    .main_footer .m_f_icon {
      width: 100%; }
    .main_footer .m_links_icons_block {
      position: relative;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      margin: 20px 0; }
    .main_footer .main_icon {
      width: 120px;
      height: 80px; }
    .main_footer .bg_img {
      background: none; }

  .main_footer .c__item_title,
  .sub_block .c__item_title {
    line-height: 40px; } }
@media only screen and (max-width: 400px) {
  .main_footer {
    padding: 20px; } }
.mob_display {
  display: none; }

@media only screen and (max-width: 719px) {
  .mob_display {
    display: block; }

  .mob_display_flex {
    display: flex; }

  .desktop_display {
    display: none !important; } }
.see_app {
  display: none !important; }

.main_menu {
  width: 100vw;
  position: fixed;
  background: #0e0d17;
  z-index: 100;
  max-width: 1920px; }
  .main_menu .menu_link,
  .main_menu .menu_link_out {
    display: block;
    width: 100%;
    font-size: 3.4vh;
    line-height: 5vh;
    font-weight: 300;
    font-family: "Gotham Pro Regular";
    color: #ddddde;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    border-bottom: 1px #2c2c35 solid;
    margin: 1vh auto;
    transition: color 0.4s;
    text-align: center; }
  .main_menu .menu_link:hover,
  .main_menu .menu_link_out:hover {
    color: #ff6c00; }
  .main_menu .menu_footer {
    position: absolute;
    width: 100%;
    height: 160px;
    bottom: 0;
    overflow: hidden;
    min-height: 80px; }
  .main_menu .menu_footer_bg {
    width: 200%;
    height: 150%;
    background: url(../images/Illustra_Top_mob.png) center no-repeat;
    display: block;
    background-size: cover;
    position: absolute;
    top: -38%;
    left: -22%; }
  .main_menu .m_s_content_block {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 60px 60px 0 60px; }
  .main_menu .content__item {
    width: 30%;
    height: 100%; }
  .main_menu .more_block {
    z-index: 101; }
  .main_menu .menu_header {
    z-index: 104;
    display: flex;
    justify-content: flex-end;
    height: 36px;
    margin: 13px 30px; }
    .main_menu .menu_header a {
      z-index: 108; }
    .main_menu .menu_header .menu_close_btn {
      margin: auto 0; }
    .main_menu .menu_header .base_button {
      margin: auto 40px auto 0; }
  .main_menu .link_list {
    z-index: 102;
    margin-top: 16px;
    width: 40%;
    max-width: 500px; }

.main_menu.open {
  display: block; }

.btn_close {
  transform: rotate(225deg);
  display: block;
  width: 30px;
  height: 30px;
  position: relative; }

.btn_close:after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #ddddde;
  display: block;
  position: absolute;
  left: 48%;
  transition: background-color 0.6s; }

.btn_close:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ddddde;
  display: block;
  position: absolute;
  top: 48%;
  transition: background-color 0.6s; }

.menu_close_btn {
  display: block;
  cursor: pointer;
  margin: auto 0; }

.menu_close_btn:hover .btn_close:after, .menu_close_btn:hover .btn_close:before {
  background-color: #ff6c00;
  transition: background-color 0.6s; }

@media only screen and (min-width: 1400px) {
  .main_menu .menu_link,
  .main_menu .menu_link_out {
    font-size: 40px;
    line-height: 60px; } }
@media only screen and (max-width: 1024px) {
  .main_menu .menu_header {
    margin: 16px 9px; }
    .main_menu .menu_header .base_button {
      margin: auto 24px auto 0; }
    .main_menu .menu_header .menu_close_btn {
      margin: auto 0 auto 0; }
    .lang_block.mob_display .inner_lang_block a {
      margin-top: 15px;
    }
  .main_menu .m_s_content_block {
    padding: 30px 30px 0 30px; } }
@media only screen and (max-height: 640px) {
  .main_menu .m_s_content_block {
    padding: 30px 30px 0 30px; } }
@media only screen and (max-width: 1023px) {
  .main_menu .menu_header {
    margin: 19px 9px; } }
@media only screen and (max-width: 719px) {
  .main_menu .m_s_content_block {
    display: block;
    position: relative; }
  .main_menu .more_block,
  .main_menu .content__item,
  .main_menu .link_list {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    max-width: 100%; }
  .main_menu .link_list {
    position: relative; }
  .main_menu .more_block {
    height: 100%; }
  .main_menu .menu_header {
    justify-content: space-between;
    padding: 30px; }
  .main_menu .link_list {
    margin-top: 100px; }
    .main_menu .link_list .menu_link,
    .main_menu .link_list .menu_link_out {
      width: 70%;
      max-width: 300px;
      min-width: 220px; } }
@media only screen and (min-width: 720px) {
  .main_menu {
    height: 80vh; }

  .main_menu.page_other {
    height: 100vh; } }
@media only screen and (max-width: 719px) {
  .main_menu {
    height: 100vh; }
    .main_menu .link_list {
      position: absolute; }
    .main_menu .menu_header {
      margin: 29px 0; } }
@media only screen and (max-width: 400px) {
  .main_menu .menu_link,
  .main_menu .menu_link_out {
    font-size: 20px;
    line-height: 30px; } }

/*# sourceMappingURL=style.css.map */
