<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {{ block "favicon" . }}
    {{ partial "site-favicon.html" . }}
    {{ end }}

    <title>{{ T "team_title" }}</title>
    <meta name="description" content="{{ T "team_description" }}" />

    <meta property="og:title" content="{{ T "team_title" }}" />
    <meta property="og:description" content="{{ T "team_description" }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/stegos-logo-new.png" />

    {{ partialCached "site-styles.html" . }}
</head>
<body class="style_scroll_bar">

<main>

    <div class="main_menu page_other">

        {{ partial "mobile-menu.html" . }}

        <!--<div class="menu_footer">-->
        <!--<div class="menu_footer_bg"></div>-->
        <!--</div>-->

    </div>
    <div class="main_header page_other">

        {{ partial "nav-block.html" . }}

        <div class="bg_gr"></div>
    </div>


  

</main>

{{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}

</body>
</html>
