<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {{ block "favicon" . }}
    {{ partial "site-favicon.html" . }}
    {{ end }}

    <title>{{ T "team_title" }}</title>
    <meta name="description" content="{{ T "team_description" }}" />

    <meta property="og:title" content="{{ T "team_title" }}" />
    <meta property="og:description" content="{{ T "team_description" }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}images/stegos-logo.png" />

    {{ partialCached "site-styles.html" . }}
</head>
<body class="style_scroll_bar">

<main>

    <div class="main_menu page_other">

        {{ partial "mobile-menu.html" . }}

        <!--<div class="menu_footer">-->
        <!--<div class="menu_footer_bg"></div>-->
        <!--</div>-->

    </div>
    <div class="main_header page_other">

        {{ partial "nav-block.html" . }}

        <div class="bg_gr"></div>
    </div>


    <div id="sector_team" class="main_sector team_block page_team">
        <h1 class="m_s_title">{{ T "team" }}</h1>
        <div class="m_s_line_decor">
            <span class="m_s_ld"></span>
            <span class="m_s_ldm"></span>
            <span class="m_s_ld"></span>
        </div>

        <div class="m_s_content_block">

            <div id="{{ .Params.id }}" class="content__item">

                <div class="c__item_cont">

                    <div class="c__item_head">
                        <div class="c__item_photo {{ .Params.photo }}"></div>
                        <div class="c__item_name">{{ .Params.name }}</div>
                        <div class="c__item_status">{{ .Params.status }}</div>
                        <a href="{{ .Params.socialLink }}" class="icon_in">
                            {{ .Params.socialIcon | safeHTML }}
                        </a>
                    </div>

                    <div class="c__item_info">{{ .Params.infoFull }}</div>

                </div>

            </div>

        </div>

    </div>

    {{ partial "mobile_form.html" . }}

    {{ partial "footer.html" . }}

</main>

{{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}

</body>
</html>
